<h1>Page pour voir un seul utilisateur et ses détails</h1>
<p><%= link_to "Editer", edit_admin_promocode_path(@promocode) %></p>
<p><%= link_to "Revenir aux codes promotion", admin_promocodes_path %></p>