#stops-group #stops-list .input-group {
	margin-bottom:5px;
}
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
.scrollFix p {
    padding:4px 2px;
    margin:0
}
body.operator_steps .photoRow, body.operator_steps .passRow, body.operator_steps .enableRow, body.operator_steps .accountTypeRow {
	display:none;
}