<script>
init.push(function () {
	$.ajax({
        url: '/apps/signup',
        type: "GET",
        dataType: "json",
        data: {
        	
        }
    }).done(function(response) {
    	console.log(response)
    });
});
</script>
<h2>Test</h2>

<div class="row">
	A
</div>