<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Utilisateur</span>
	</div>
	<div class="panel-body">
		<%= render 'forms/users', action: "Modifier l'utilisateur", type: 'extended' %>
	</div>
</div>