<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Course</span>
	</div>
	<div class="panel-body">
		<%= render 'forms/courses', action: "Créer la course", type: 'extended' %>
	</div>
</div>