<!DOCTYPE html>
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Dashboard - Naveco</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://groupe-elephant.fr/naveco_stuff/bootstrap.css" rel="stylesheet">
  <link href="http://groupe-elephant.fr/naveco_stuff/pixeladmin.css" rel="stylesheet">
  <link href="http://groupe-elephant.fr/naveco_stuff/rtl.css" rel="stylesheet">
  <link href="http://groupe-elephant.fr/naveco_stuff/theme.css" rel="stylesheet">
  <link href="http://groupe-elephant.fr/naveco_stuff/widget.css" rel="stylesheet">

  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
</head>
<body class="theme-default main-menu-animated">
<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
